a {
  color: #1a5673;
}

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

pre {
  background: #2d2d2d;
  padding: 5px 30px;
  font-size: 0.9em;
  color: white;
  overflow: scroll;
}

.essays-list {
  padding-inline-start: 0;
}

.essays-list > li {
  list-style: none;
  line-height: 2em;
}

footer {
  width: 100%;
}

footer p {
  text-align: center;
  margin-top: 2em;
  font-size: 0.9em;
  color: #2b2b2b;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font: weight 600;
  color: #404040;
  line-height: 40px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

#john-steen {
  font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #607d8b;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 30px;
  text-decoration: none;
}

#john-steen:hover {
  color: #526a75;
}

.post-date {
  color: #5d5d5d;
}

.sendfox-form {
  display: flex;
  flex-wrap: wrap;
}

.sendfox-form p {
  margin: 0 0.5em 0 0;
}

.sendfox-form p input,
button {
  padding: 0.5em;
  font: inherit;
  padding: 0.3em;
  font: inherit;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.sendfox-form p button {
  cursor: pointer;
  padding: 0.3em 1em;
}

table,
td {
  border: 1px solid;
  margin: auto;
  text-align: center;
  padding: 2px 10px;
}
